<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CadastrarUsuario</title>
</head>
<body>

<div th:if="${msg != null}">

    <h1 th:text="${msg}"></h1>

</div>

<form action="/usuario/cadastrar/action" method="POST">
    <label>Login</label><br>
    <input type="text" name="login" id="login"><br>
    <label>Senha</label><br>
    <input type="password" name="senha" id="senha"><br>
    <button type="submit">Cadastrar</button>
</form>

</body>
</html>