<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Experiencia</title>
    <div th:insert="/home/util :: imports">

    </div>
</head>
<body>

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Wesley Silva</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div th:insert="/home/navbar :: topNavBar">

    </div>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div th:insert="/home/navbar :: leftNavBar">

    </div>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <form action="/experiencia/save" method="POST">

                <!-- Id da experiencia caso seja a tela de editar  -->
                <input type="hidden" name="id" th:value="${experiencia.id}">

                <label>Descrição Principal</label><br>
                <input type="text" name="cargo" th:value="${experiencia.cargo}"><br>

                <label>Descrição Secundaria</label><br>
                <input type="text" name="descricaoSecundaria" th:value="${experiencia.descricaoSecundaria}"><br>

                <label>Descrição da Função</label><br>
                <input type="text" name="descricaoAtividades" th:value="${experiencia.descricaoAtividades}"><br>

                <label>Data início</label><br>
                <input type="date" name="dataInicioDate" th:value="${dataInicioDate}"><br>

                <label>Data Fim</label><br>
                <input type="date" name="dataFimDate" th:value="${dataFimDate}"><br>

                <label>Empregador</label><br>
                <input type="text" name="nomeEmpresa" th:value="${experiencia.nomeEmpresa}"><br>

                <label>Empregador</label><br>
                <select name="tipoExperiencia" required="required">
                    <option value="">-----------------SELECIONE UMA OPÇÃO-----------------</option>
                    <option th:each="tipoExperiencia : ${tiposExperiencia}" th:value="${tipoExperiencia.codigo}"
                            th:text="${tipoExperiencia.descricao}"></option>
                </select><br>

                <button type="submit">
                    Salvar
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>